*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8f7ef;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* top of page: */
.heading{
    color: #355426;
    /* font-family: 'Courier New', Courier, monospace; */
    font: bold 30px 'Courier New';
    width: 631px;
    
}

/* home page link */
a:link{
    color: #355426;
    text-decoration: none;
}

a:visited{
    color: #355426;
    text-decoration: none;
}

/* other links */


.content{
    font: 20px Arial;
    width: 631px; 
    color: #0b0805;
    /* background-color: #355426; */
}

.wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(2, 1fr); */
}

.navWrap{
    /* for grid*/
    display: grid;
    gap: 10px;
    /* background-color: aqua; */
    grid-template-columns: repeat(2, 1fr);

    /* for contents of grid*/
    font-size: 15px;
    width: 100px;
    
}






