*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 37%, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    font-size: 30px;
    width: 700px; 
    position: absolute;
    top: 40%;
    color: hsl(212, 37%, 65%);
}

.textBox{
    text-align: center;
    font-size: 80px;
    width: 1100px;
    position: absolute;
    top: 33%;
    left: 52%;
    transform: translate(-50%, -50%);
    /*color: hsl(212, 37%, 60%);
    /*color: rgb(233, 241, 241);*/
}

span{
    display: inline-block;
    font-weight: bolder;
    animation: mover 6s linear infinite;
    color: hsl(212, 37%, 70%);
    /*color: hsl(212, 37%, 66%);*/
}

@keyframes mover{
    0%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
    }
    50%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.50);
        transform: translateY(30px);
    }
    100%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
    }
}

