/* css for index.html*/
/* each page should have their own css! */

body{
    background-color: #fff8e7;
}

.header-main{
    width: 100%;
    height: 60px;
    /*background-color: #120a4f;*/
    background-color: #fff8e7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.header-main div{
    height: 30px;
}

.header-main .d1{
    width: 100px;
    font-size: x-large;
    border-style: solid;
    border-color: #992800;
    border-radius: 50px;
    text-align: center;
}

.header-main .d2{
    width: 100px;
    font-size: x-large;
    border-style: solid;
    border-color: #992800;
    border-radius: 50px;
    text-align: center;
}

.header-main .d3{
    width: 100px;
    font-size: x-large;
    border-style: solid;
    border-color: #992800;
    border-radius: 50px;
    text-align: center;
}

a{
    text-decoration: none;
    color: #120a4f;
}

.main-border {
    /*border-style: solid;
    border-width: 5px;
    border-color: #120a4f;
    border-top: 5px solid #120a4f;
    display: flex;
    align-items: stretch;
    justify-content: center;*/

    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center align items horizontally */
    justify-content: center; /* Center align items vertically */
    height: 100vh; /* Full viewport height to center the content vertically */
}

.main-border img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

